 #bad{
     color: red;
 }

 #warning{
    color: yellow;
}

#good{
    color: green;
}

#tableHeader{
    padding-top: 70px;
    text-align: center;
}

form{
    padding-top:30px;
}

.centerDiv{
    text-align: center;

}

.formInputSmall{
    width: 50%;
}

.center1{
    margin: 0 auto;
    text-align: center;
}

.carousel-control-prev-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-inner img {
max-height: 200px;
}

.carousel-item{
    text-align:center;
}

.carousel-inner img{
    display:inline-block  !important;
}

#demo {
    margin: 0 auto;
    padding-top: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
