 #bad{
     color: red;
 }

 #warning{
    color: yellow;
}

#good{
    color: green;
}

#tableHeader{
    padding-top: 70px;
    text-align: center;
}

form{
    padding-top:30px;
}

.centerDiv{
    text-align: center;

}

.formInputSmall{
    width: 50%;
}

.center{
    margin: 0 auto;
    text-align: center;
}